<link rel="stylesheet" href="/css/home.css">
<!-- home -->
<div class="container">
    <div class="row">
        <div class="col first">
            <div class="create-list-container">
                <h3 class="heading">Add List</h3><br>
                <form action="/list/create" method="post">
                    <input type="text" class="form-control" name="ListName" placeholder="List Name" required><br>
                    <div id="task-container">
                        <input type="text" class="form-control" name="TaskName" placeholder="Task Name" required>
                    </div>
                    <center><img onClick="addNewTask()"
                            src="https://cdn.iconscout.com/icon/free/png-32/free-plus-90-433856.png?f=avif&w=512"
                            alt=""></center><br>
                    <input type="submit" id="btnSubmit" class="btn btn-dark btn-outline-warning" value="Add List">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="display-lists">
    <% for(i of list){%>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <div id="card-heading">
                    <h5 class="card-title">
                        <img src="https://cdn.iconscout.com/icon/free/png-32/free-task-36-461735.png?f=avif&w=512" alt="">
                         <%=i.listName%>
                    </h5>
                </div>
                <hr>
                <% i.tasks.map((task)=>{%>
                    <div>
                        <p>
                            Task Name : <%=task.taskName%> 
                                <% if(task.done){%>
                                    <img height="20" width="20" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVN6qs9CzJsbEPUYDh4JzQ0-8ZZZoB0MXGJw&usqp=CAU" alt="">
                                    <br>
                                    <a class="textDecorestion" href="/task/doneornot/?done=false&listId=<%=i._id%>&taskId=<%=task._id%>">
                                        <img height="20" width="20" src="/img/like.png" alt="">
                                    </a>
                                <% }else{ %>
                                    <img height="20" width="20" src="https://media.istockphoto.com/id/1362671957/vector/3d-cross-sign-elements.jpg?s=612x612&w=0&k=20&c=N8CpKozsixTWJ8ZOx80DKebbAn3JTOxoZZ_12-kEa0k=" alt="not found">
                                    <br>
                                    <a style="text-decoration: none;" href="/task/doneornot/?done=true&listId=<%=i._id%>&taskId=<%=task._id%>">
                                        <img height="20" width="20" src="/img/dislike.png" alt=""/>
                                    </a>
                                    
                                <%}%>
                                    &nbsp;
                            <a class="textDecorestion" href="/task/delete/?listId=<%=i._id%>&taskId=<%=task._id%>">
                                <img src="https://cdn.iconscout.com/icon/free/png-16/free-delete-736-470378.png?f=avif&w=512" alt="">
                            </a>
                        </p>
                    </div>
                    <%})%>
                    <hr>
                        <a class="textDecorestion" href="/list/delete/?listId=<%=i._id%>">
                            <img src="https://cdn.iconscout.com/icon/free/png-32/free-delete-736-470378.png?f=avif&w=512"
                                alt="">
                        </a>
                        <a href="/task/new-task?listId=<%=i._id%>" style="color:white" class="btn btn-dark btn-outline-warning">Add New Task</a>
            </div>
        </div>
        <%}%>
</div>


<script src="/js/AddTask.js"></script>